#navbar {
    display: flex;
}

* {
    padding: 0;
    margin: 0;
}

#pageOne {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.button {
    margin-left: 20px;
    margin-right: 20px;
}